[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    co = checkout
    ci = commit
    st = status
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
    edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vim `f`"
    add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
	d = difftool
[user]
	name = 
	email = 
[color]
	ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
	editor = vim
	excludesfile = /Users/talz/.gitignore_global
	autocrlf = input
[push]
	default = simple
[merge "ours"]
	driver = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
    autosetuprebase = always
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[commit]
	template = /Users/talz/.stCommitMsg
